/* Flexbox container para organização lado a lado */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribui os containers com espaços iguais entre eles */
  align-items: flex-start; /* Alinha os itens no topo do container (padrão) */
}

/* Contêiner da seleção de elementos */
.selection-container {
  flex: 1;
  min-width: 300px; /* Garante que não fique muito pequeno */
  margin-right: 20px;
  display: flex;
  flex-direction: column; /* Alinha os itens na vertical dentro do container */
  justify-content: flex-start; /* Alinha os elementos dentro da seleção ao topo */
  align-items: flex-start; /* Alinha os itens ao início do container */
}

/* Contêiner da animação */
.animation-container {
  flex: 2;
  min-width: 300px;
  background-color: #e8e8e8;
  margin-top: 20px; /* Dá espaço acima quando em layout de coluna */
  display: flex;
  justify-content: center; /* Centraliza a animação horizontalmente */
  align-items: center; /* Centraliza a animação verticalmente */
}

/* Responsividade */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column; /* Muda a direção para coluna quando a tela for pequena */
    align-items: center; /* Centraliza os itens na tela */
  }

  .selection-container, .animation-container {
    margin-right: 0;
    margin-top: 20px;
    align-items: center; /* Centraliza os itens dentro dos containers quando em coluna */
  }
}
