/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}

/* Botão do menu */
.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Menu suspenso */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 5px 0;
}

.hidden {
    display: none;
}

/* Título do tema selecionado */
#selected-topic {
    text-align: center;
    margin-top: 20px;
}

/* Containers de conteúdo */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.image-container img {
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.text-container {
    max-width: 50%;
    text-align: justify;
}
