/* Estilizar menu oculto */
.hidden {
    display: none;
}

/* Exibir menu quando não está oculto */
nav {
    background-color: #f0f0f0;
    padding: 10px;
    position: absolute;
    top: 50px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Botão de menu */
.menu-icon {
    font-size: 24px;
    cursor: pointer;
}
